<h1 class="title">Lista de Compras</h1>

<app-formulario (producto)="agregarCompra( $event )" ></app-formulario>

<div class="contenedor listas-compras">
    <app-listado class="listado" 
                [listadoCompras]="listaCompras" 
                tituloLista="pendiente"
                (producto)="agregarCompra( $event )"></app-listado>

    <app-listado class="listado" 
                [listadoCompras]="listaComprados"
                tituloLista="completada"
                (producto)="agregarCompra( $event )"></app-listado>
</div>